
   
//** BUTTON STYLES **//
.formulate-input[data-classification=button] {
  display: flex;
  .formulate-input-wrapper {
    margin: auto;
  }
  button {
    @include button;
    background: $button-primary;
    margin-left: 20px;
  }
}

.button-primary{
@include button;
background: $button-primary;
}
.button-secondary {
@include button;
background: $button-secondary;
}
.button:active{
top:0.1em;
}
//** BUTTON STYLES **//

.formulate-input {
  width: 300px;
}
.formulate-input-errors {
  display: flex;
  color: red;
}
.formulate-input-wrapper {
display: flex;
flex-direction: column;
padding-top: 20px;

  .formulate-input-label {
    align-self: flex-start;
    font-size: 1.5em;
  }

  .formulate-input-element {
    input {
      width: 97%;
      height: 50px;
    }
    select {
      width: 100%;
      height: 50px;
    }
  }
}